
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col m12">
            <img style="border-radius: 0px 0px 5px 5px;" class="responsive-img z-depth-2" src="~/Content/img/banner.jpg">
        </div>
    </div>
</div>
<!-- Section 1-->
<!--================Start Services_area =================-->
<section class="services_area">
    <div class="container">
        <div class="row">
            <div class="col m4 s6">
                <div data-line="OYS" class="services_item">
                    <div class="round_icon">
                        <img src="~/Content/img/parking1.png" alt="icon">
                    </div>
                    <h2>GEÇMİŞ</h2>
                    <p>Kullandığınız Otoparkları Ve<br />Giriş-Çıkış Detaylarınızı İnceleyebilirsiniz. </p>
                    <a href="/Home/gecmis" id="gecmis" class="waves-effect waves-light btn">GEÇMİŞ</a>
                </div>
            </div>
            <div class="col m4 s6">
                <div data-line="OYS" class="services_item">
                    <div class="round_icon">
                        <img src="~/Content/img/valet-parking.png" alt="icon">
                    </div>
                    <h2>KONUMA GÖRE OTOPARKLAR</h2>
                    <p>Yakınlardaki Otoparkları <br />Görüntüleyebilirsiniz.</p>
                    <a href="/Home/Index" id="otoparklarKonum" class="waves-effect waves-light btn">KONUMA GÖRE OTOPARKLAR</a>
                </div>
            </div>
            <div class="col m4 s12">
                <div data-line="OYS" class="services_item">
                    <div class="round_icon">
                        <img src="~/Content/img/parking-icon-2.png" alt="icon">
                    </div>
                    <h2>OTOPARK LİSTESİ</h2>
                    <p>Dilediğiniz Otopark İçin <br />Rezervasyon Yaptırabilirsiniz.</p>
                    <a href="/OtoparkListele/OtoparkListele" id="otoparkListesi" class="waves-effect waves-light btn">OTOPARK LİSTESİ</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Services_area =================-->
<!-- Section 1 Bitiş-->